@model List<HoldingDetaails.Models.Holding>  
@{
    ViewBag.Title = "Holding";
}

<table class="table table-bordered table-responsive table-hover">
    <tr style="color:#0000ff6b;background-color:#dddddd2b;">
        <th>Account Id </th>
        <th>Cost Basis </th>
        <th>Institution Price </th>
        <th>Institution Price As Of</th>
        <th>Institution Value </th>
        <th>Iso Currency Code</th>
        <th>Quantity</th>
        <th>Unofficial Currency Code</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.AccountId </td>
            <td>@d.CostBasis </td>
            <td>@d.InstitutionPrice </td>
            <td>@d.InstitutionPriceAsOf</td>
            <td>@d.InstitutionValue </td>
            <td>@d.IsoCurrencyCode</td>
            <td>@d.Quantity</td>
            <td>@d.UnofficialCurrencyCode</td>

        </tr>
    }
</table>
  




<script type="text/javascript">
    
</script>



